<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>691217839484-jms8a4mqnpotb8u952ah9rnqjj6l0dha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.691217839484-jms8a4mqnpotb8u952ah9rnqjj6l0dha</string>
	<key>API_KEY</key>
	<string>AIzaSyBHjFhoa0BBcHeSpiOjycb4D47raoXm_zQ</string>
	<key>GCM_SENDER_ID</key>
	<string>691217839484</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.creativegroup.alloUrgencePro</string>
	<key>PROJECT_ID</key>
	<string>allourgencepro</string>
	<key>STORAGE_BUCKET</key>
	<string>allourgencepro.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691217839484:ios:0fffbbc25fc0162105e0f9</string>
</dict>
</plist>